body {
	background-image: url(../img/Background.jpg);
	background-attachment: fixed;
	height: 100%;
	display: block;
}

.logo{
	float: left;
}

.jumbotron{
	background-color: #9A6CF7;
	opacity: 0.5;

}
.header{
	object-fit: fill;
}


/**.container{
	background-image: url(../img/Untitled-1.jpg);
	background-size: cover;
}**/

.container2{
	max-width: 100%;
	align-items: center;
	flex-grow: 1;
	display: flex;
	flex-basis: auto;
	padding-left: 25%;
}

.header > img{
	background-size: cover;
}

.container2 > ul > li{
	padding-right: 30px;
	color: #FFFFFF;
	width: 150px;
}
a.nav-item{
	color: white;
	padding-right: 25px;
}
.bg-dark{
	background-color: transparent!important;
}

.bg-dark-scrolled{
	background-color: white;
}