html, body{
	height: 100%;
}


body {
	background-image: url(../img/Background.jpg);
	background-attachment: fixed;
}
.logo{
	float: left;
}


.first-image{
	background-size: cover;
	background-image: url(../img/Untitled-2.jpg);
	height: 100%;
}
.home{
	height: 100%;
}

a.nav-item{
	color: #302F2F;
	padding-right: 25px;
}
.bg-dark{
	background-color: transparent!important;
}

.bg-dark-scrolled{
	background-color: white;
}

